<h1>Add a New User:</h2>
<%= form_for(@user) do |u| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
				<% @user.errors.fullmessages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= u.label :first_name %><br>
		<%= u.text_field :first_name %>
	</div>
	<div class="field">
		<%= u.label :last_name %><br>
		<%= u.text_field :last_name %>
	</div>
	<div class="field">
		<%= u.label :email %><br>
		<%= u.text_field :email %>
	</div>
	<div class="field">
		<%= u.label :password %><br>
		<%= u.text_field :password %>
	</div>
	<div class="action">
		<%= u.submit %>
	</div>
<% end %>